@media screen and (min-width: 601px) {
  p {
    font-size: 25px;
  }
}

@media screen and (min-width: 601px) {
  .header-tab {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .header-tab {
    font-size: 10px;
  }
}
@media screen and (min-width: 601px) {
  .comp-li {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .comp-li {
    font-size: 15px;
  }
}
@media screen and (min-width: 601px) {
  .footer {
    font-size: 25px;
    position: fixed;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    font-size: 20px;
    position: relative;
  }
}
@media screen and (min-width: 601px) {
  .social {
    margin-right: 1%;
  }
}
@media screen and (max-width: 700px) {
  .social {
    margin-right: 4%;
  }
}

@media screen and (min-width: 601px) {
  #avatar {
    height: 20%;
    width: 20%;
  }
}
@media screen and (max-width: 700px) {
  #avatar {
    height: 30%;
    width: 30%;
  }
}
@media screen and (min-width: 601px) {
  mat-panel-title {
    font-weight: 600;
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  mat-panel-title {
    font-weight: 400;
    font-size: 15px;
  }
}
@media screen and (min-width: 601px) {
  #panel-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  #panel-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 601px) {
  .download-txt {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .download-txt {
    font-size: 15px;
  }
}
@media screen and (min-width: 601px) {
  mat-expansion-panel {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  mat-expansion-panel {
    width: 85%;
  }
}
@media screen and (min-width: 601px) {
  mat-tab-group {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  mat-tab-group {
    width: 85%;
  }
}
@media screen and (min-width: 601px) {
  #complementary-ul {
    margin-left: 1%;
  }
}
@media screen and (max-width: 700px) {
  #complementary-ul {
    margin-left: 5%;
  }
}
.download-txt {
}
.social {
}

.header-tab {
}
#link-ul {
  list-style-type: none;
  width: 70%;
  padding: 0;
}
.link-li {
  display: inline-block;
  margin: 1%;
}
.white {
  font-size: 25px;
  cursor: pointer;
  color: #fcf5e4;
}
a:hover {
  color: #3c3b3d;
}
nav {
  background-color: transparent;
  color: #3c3b3d;
  background-image: linear-gradient(to right, #cfccd2, transparent);
  font-weight: 200;
}
#avatar {
  border: 3px solid #fcf5e4;
  background-color: transparent;
  border-radius: 110px;
  margin: auto;
  margin-top: 5%;
}
#avatar:hover {
  background-color: #fcf5e4;
  border: 3px solid black;
}
mat-expansion-panel {
  margin: auto;
  background-color: rgba(229, 225, 232, 0.7);
}
mat-panel-title {
  color: #2b2b2c;
}
#download-btn {
  font-size: 15px;
}
#panel-text {
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e1e8;
  margin: 1em 0;
  padding: 0;
}

mat-tab-group {
  margin: auto;
  background: rgba(229, 225, 232, 0.7);
}
p {
  text-align: justify;
  color: black;
  margin: 2%;
  /*font-size: 2vw*/
}
#tech-ul {
  width: 100%;
  margin: auto;
  padding: 0.5%;
  list-style-type: none;
}
.tech-li {
  font-size: 25px;
  display: inline-block;
  margin: 1%;
}
.footer {
  background: rgba(30, 29, 30, 0.1);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 5%;
  text-align: center;
}
#complementary-ul {
  width: 95%;
  padding: 2%;
  list-style-type: decimal;
}
h5 {
  color: #2b2b2c;
}
.comp-li {
  color: #2b2b2c;
}
