<nav class="navbar navbar-expand-lg shadow-lg p-1 pl-4 pt-0 pr-4 mb-5">
    <span class="navbar-brand" href="#">Justin A. Castillo</span>
    <button (click)="toggleCollapsed()" class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: white" class="navbar-toggler-icon"><i class="material-icons align">menu</i></span>
    </button>
    <div class="animated fadeIn faster" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarSupportedContent">
      <div class="navbar-expand ml-auto navbar-nav">
        <a class="nav-item nav-link white social" href="https://www.instagram.com/justin1524/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="nav-item nav-link white social" href="https://www.facebook.com/justin.castillo.7503314" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="nav-item nav-link white social" href="https://github.com/JustinCast" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link white social" href="https://www.linkedin.com/in/justin-alberto-castillo-valladares-82723a121" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
</nav>
<div class="container text-center mt-8">
  <img class="card shadow-sm p-1"  id="avatar" src="../assets/avatar.png" alt="avatar">
  <h1 class="text-white m-4">FullStack Engineer</h1>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>My Overview</mat-panel-title>
      </mat-expansion-panel-header>
      <div id="panel-text" class="container mt-2">
        Visionary - I always say that the future is on the Web & cloud. GraphQL enthusiast and Web Assembly explorer.
      </div>
      <hr style="color: #c2bcb1">
      <div class="container">
        <button onClick="window.location='https://drive.google.com/open?id=1O6_Xyq8D2s_QwMIi2KVv_KtxynV2WQ6y';" 
        id="download-btn" mat-stroked-button>
            <span class="download-txt">Download CV</span>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-tab-group class="shadow-lg p-0 pt-0 mb-5 rounded card mt-4">
  <mat-tab style="color: black">
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">About</span>
      <i class="material-icons ml-1 align">account_circle</i>
    </ng-template>
    <p>
      I'm a student at Instituto Tecnológico de Costa Rica and actually I'm also
      a Freelancer in my free time, currently I live in Aguas Zarcas, San Carlos. I really love Web Development and my favorite Framework is Angular but I also like JavaScript.
      One of my favorites hobbies is make some exercise and see some series on Netflix.
    </p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Projects</span>
      <i class="material-icons ml-1 align">playlist_add_check</i>
    </ng-template>
    <p>
      I've already worked in important projects like 
      <i>
        Sistema de Gestión de Averías del Acueducto de la Municipalidad de San Carlos
      </i>
      wich was developed in Android from June 2017 to June 2018. <br>
      I also developed 
      <i>
        <a href="https://arbol-esperanza.herokuapp.com">
          Arbol de Esperanza Foundation Website
        </a>
      </i>
      which was developed in Angular during 2018. <br>
      actually, I'm developing a website for 
      <i>
        <a href="">SantuarioNatura</a>
      </i>
      Startup in Sarapiquí with my dev partner <a href="https://github.com/luisCarlosGonzalezCalderon">Luis González</a>.
    </p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Experience</span>
      <i class="material-icons ml-1 align">work</i>
      </ng-template>  
    <p>
      I've teach some <strong>Web Development Courses</strong> in Angular and HTML5 to TEC student. In addition I've make two conferences, 
      one in 2017 for <i>Semana TEC Activity</i> wich name was "Introduction to TypeScript" and the other for <i>San Carlos Technology Summit 2018</i> wich name as
      <strong>Introduction to GraphQL</strong>.
      In 2017 I travel to UNAN León - Nicaragua to teach how to build Nodejs Aplications with TypeScript.
    </p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Tech Skills</span>
      <i class="material-icons ml-1 align">code</i>
    </ng-template>  
    <ul id="tech-ul">
      <li class="tech-li"><button color="warn" mat-raised-button>Angularjs</button></li>
      <li class="tech-li"><button style="background: green; color: white" mat-raised-button>Nodejs</button></li>
      <li class="tech-li"><button style="background: red; color: white" mat-raised-button>Angular 2+</button></li>
      <li class="tech-li"><button style="background: #64DD17; color: white" mat-raised-button>MongoDB</button></li>
      <li class="tech-li"><button style="background: #3E2723; color: white" mat-raised-button>MS SQL Server</button></li>
      <li class="tech-li"><button style="background: #01579B; color: white" mat-raised-button>PostgresSQL</button></li>
      <li class="tech-li"><button style="background: #B3E5FC; color: black" mat-raised-button>Bootstrap</button></li>
      <li class="tech-li"><button style="background: #AA00FF; color: white" mat-raised-button>Angular Material</button></li>
      <li class="tech-li"><button style="background: #7E57C2; color: white" mat-raised-button>GraphQL (beginner)</button></li>
      <li class="tech-li"><button style="background: #FF4081; color: white" mat-raised-button>Apollo (beginner)</button></li>
      <li class="tech-li"><button style="background: #304FFE; color: white" mat-raised-button>C#</button></li>
      <li class="tech-li"><button style="background: #827717; color: white" mat-raised-button>Java</button></li>
      <li class="tech-li"><button style="background: #EEFF41; color: black" mat-raised-button>JavaScript</button></li>
      <li class="tech-li"><button style="background: #1DE9B6; color: black" mat-raised-button>C</button></li>
      <li class="tech-li"><button style="background: #E8EAF6; color: black" mat-raised-button>C++</button></li>
    </ul>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Extra Courses & Complementary</span>
      <i class="material-icons ml-1 align">assignment</i>
    </ng-template>
    <ul id="complementary-ul">
      <li class="comp-li">Diploma in Banking and Finance</li>
      <li class="comp-li">Angular Teaching Certificate</li>
      <li class="comp-li">TypeScript Teaching Certificate</li>
    </ul>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="m-0 header-tab">Rate me</span>
      <i class="material-icons ml-1 align">star</i>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<footer class="footer shadow-lg p-1">
  <div class="container">
    <span>&copy; {{year}}</span>
  </div>
</footer>