/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-family: "Open Sans", sans-serif;
  background-image: url('assets/fondo.png');
  background-repeat: no-repeat
}

.align {
  vertical-align: top;
  font-size: 25px;
}